<div class="main-carousel">
  <div class="carousel-cell"><img src="assets/banner-example.png" alt="banner-1"/></div>
  <div class="carousel-cell"><img src="assets/banner-example.png" alt="banner-1"/></div>
  <div class="carousel-cell"><img src="assets/banner-example.png" alt="banner-1"/></div>
  <div class="carousel-cell"><img src="assets/banner-example.png" alt="banner-1"/></div>
  <div class="carousel-cell"><img src="assets/banner-example.png" alt="banner-1"/></div>
</div>


<!--<div class="main-carousel" *ngIf="banner">-->
<!--  <div class="carousel-cell" *ngFor="let item of banner">-->
<!--    <a href="{{item.clickUrl}}" *ngIf="(item.bannerType === 'web') && (isShown)">-->
<!--      <img-->
<!--        src="{{item.href}}"-->
<!--        alt="{{item.slug}}"/>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
