@import "src/theme/base";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  height: 120px;
}


@media all and (max-width: 768px) {
  header {
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 6px rgb(0 0 0 / 8%), 0 4px 16px rgb(0 0 0 / 8%);
  }
}
