@import "src/theme/base";

.review-add {
  display: flex;
  flex-direction: column;

  &-title {
    display: flex;
    align-items: center;

    i {
      font-size: 14px;
    }

    span {
      font-family: $font-secondary;
      font-size: 28px;
      line-height: 37px;
      margin-left: 16px;
    }
  }

  &-main {
    display: flex;
    margin: 16px 0;

    &-content {
      width: 682px;
      border: solid 1px #E5E5E5;
      border-radius: $border-radius-double;
      display: flex;
      flex-direction: column;
      padding: 12px 16px;

      .content {
        &-order {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding-bottom: 12px;
          border-bottom: solid 1px #E5E5E5;

          &-label {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            span {
              color: #979797;
              font-size: 14px;
              line-height: 19px;
            }
          }

          &-value {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            span {
              color: $color-primary;
              font-size: 14px;
              line-height: 18px;
              font-weight: bold;
            }
          }
        }

        &-product {
          display: flex;
          margin-top: 12px;

          img {
            width: 78px;
            height: 78px;
            object-fit: cover;
          }

          span {
            font-size: 14px;
            line-height: 18px;
            font-weight: bold;
            margin-left: 12px;
          }
        }

        &-form {
          margin-top: 24px;

          &-stars {
            display: flex;
            flex-direction: column;

            label {
              font-size: 14px;
              line-height: 19px;
              margin-bottom: 12px;
            }
          }

          &-input {
            display: flex;
            flex-direction: column;
            margin-top: 24px;

            label {
              font-size: 14px;
              line-height: 19px;
              margin-bottom: 12px;
            }

            .input-review {
              height: 120px;
              display: flex;
              flex-direction: column;
              border: solid 1px #E5E5E5;
              border-radius: $border-radius-double;

              textarea {
                border: none;
                margin: 8px 8px 0 8px;
                outline: none;
                height: 100%;
                resize: none;
              }

              .limit {
                display: flex;
                padding: 0 4px 4px 0;
                justify-content: flex-end;
                color: #979797;
                font-size: 12px;
                line-height: 14px;
              }
            }

            .btn-review {
              margin-top: 24px;
              display: flex;
              justify-content: flex-end;

              button {
                color: $white;
                background-color: $color-accent;
                padding: 9px 0;
                width: 149px;
                border: none;
                border-radius: $border-radius;
                font-size: 16px;
                line-height: 22px;
                font-weight: bold;
                cursor: pointer;

                &[disabled] {
                  background-color: $color-secondary;
                }
              }
            }
          }
        }
      }
    }

    &-info {
      width: 211px;
      height: fit-content;
      margin-left: 24px;
      border: solid 1px #E5E5E5;
      border-radius: $border-radius-double;
      display: flex;
      flex-direction: column;

      .info {
        &-title {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background: $color-google;
          padding: 11px 16px;

          span {
            font-size: 14px;
            line-height: 18px;
            font-weight: bold;
            margin-left: 12px;
          }
        }

        &-content {
          ol {
            font-size: 12px;
            line-height: 14px;

            li {
              margin: 8px 0;
              padding-left: 8px;
              padding-right: 4px;
            }
          }
        }
      }
    }
  }
}
