<div class="shipping-method" [class.active]="(!!stateService.getStateAddress && mode !== 'default' && mode !== 'idle' && this.address)">
  <div class="top">
    <div class="bar">
      <span class="title">Metode Pengiriman</span>
      <span class="sla" *ngIf="stateService.getStateAddress && mode !== 'default' && mode !== 'idle' && this.address">Perkiraan tiba dihitung sejak pesanan dikirim.</span>
    </div>
    <span class="change" *ngIf="mode === 'default'" (click)="changeMode()">Ubah</span>
  </div>
  <div class="middle" *ngIf="stateService.getStateAddress && mode !== 'default' && mode !== 'idle' && this.address ">
    <ng-container *ngFor="let item of this.cart.weight">
      <div class="shipping-options">
        <span class="title">{{ item.name }}</span>
      </div>
      <app-select-price
        [shippingMethod]="shippingMethod"
        [item]="item"
        [shippingSelect]="shippingSelect"
        (shippingChosen)="getShippingChosen($event)"></app-select-price>
    </ng-container>
    <div class="dropship_option" *ngIf="!!isReseller">
      <mat-checkbox [(ngModel)]="dropshipOption.active" (change)="dropshipSelected($event.checked)">Dropshipper
      </mat-checkbox>
      <div class="dropship_form" *ngIf="dropshipOpen">
        <label class="address-input">
          <span class="label">Nama Pengirim</span>
          <input type="text" name="dropship_name" class="dropship_name" [(ngModel)]="dropshipOption.meta.name"/>
        </label>
        <label class="address-input">
          <span class="label">Nomor Telepon</span>
          <input type="text" name="dropship_mobile" class="dropship_mobile" [(ngModel)]="dropshipOption.meta.mobile"/>
        </label>
      </div>
      <div class="dropship-error" *ngIf="!!shippingError ">
        <span>{{ shippingError }}</span>
      </div>
    </div>

    <button class="chose-shipping"
            *ngIf="this.address"
            [disabled]="isButtonDisabled()"
            (click)="saveShippingMethod()">Pilih
    </button>
  </div>
  <div class="middle" *ngIf="mode === 'default'">
    <ng-container *ngFor="let item of this.cart.weight">
      <div class="shipping-options">
        <span class="title">{{item.name}}</span>
      </div>
      <div *ngFor="let ship of shippingSelect">
        <span *ngIf="ship.warehouse === (item.href|entityToSlug)">
          {{ship.method.method}} | {{ship.method.cost|currency:'Rp ':'symbol':'1.0'}} {{'(' + ship.method.sla + ')'}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="dropshipOption.active">
      <div class="dropship-option">
        <span class="title">Dropship</span>
      </div>
      <div class="dropship-value">
        <span class="title">{{ dropshipOption.meta.name }}</span>
        <span class="title">{{ dropshipOption.meta.mobile }}</span>
      </div>
    </ng-container>
  </div>
  <!--  <ng-template #emptyShipping>-->

  <!--  </ng-template>-->
</div>
