@import "src/theme/base";

.mt-header-search {
  width: 370px;
  height: 40px;
  margin: 0 0 0 32px;
  border: none;

  ::placeholder {
    color: $color-grey;
  }

  .search-input {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      padding: 10px 10px 10px 40px;
      background: $white;
      box-sizing: border-box;
      border-radius: $border-radius;
      border: 1px solid #E5E5E5;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 22px;


    }

    .icon-search {
      position: absolute;
      left: 10px;
      top: 2px;
      color: $color-grey;
    }
  }
}

@media screen and (max-width: $mobile-break) {
  .mt-header-search {
    width: 100%;
    margin: 0 0 0 8px;
    height: 36px;
  }
}

@media screen and (max-width: $tablet-break) {
  .mt-header-search {
    width: 100%;
    margin: 0 0 0 8px;
    height: 36px;
  }
}
