@import "src/theme/base";
.content {
  padding: 20px 16px 40px 16px;
}
.sidebar-menu, .sidebar-menu-profile {
  width: 211px;
  display: flex;

  app-side-menu {
    width: 100%;
  }
}

// mobile
@media screen and (max-width: $mobile-break) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7rem 16px 0 16px;
  }

  .sidebar-menu-profile {
    width: 100%;
  }
}

