<div class="inner-container">
  <mat-toolbar class="order-summary-navbar" color="white">
    <mat-toolbar-row>
      <div class="mt-header-logo">
        <a [routerLink]="['']"><img src="assets/header/logo-mt.svg" alt="Martha Tilaar Logo" /></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="order-summary" *ngIf="orderSummary">
    <ng-container *ngIf="orderSummary.payment.status === 'unpaid'; else elsePaid">
      <app-order-summary-progress [orderSummary]="orderSummary"></app-order-summary-progress>
    </ng-container>
    <ng-template #elsePaid>
      <app-order-summary-done [orderSummary]="orderSummary"></app-order-summary-done>
    </ng-template>
  </div>
</div>
