@import "src/theme/base";

.inner-container {
  .order-summary-navbar {
    background-color: $white;

    .mat-toolbar-row {
      display: flex;
      align-items: center;
      justify-content: center;

      .mt-header-logo {
        width: 250px;
        height: 40px;

        a {
          display: block;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}


@media all and (max-width: 480px) {
  .mt-header-logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 153px;
        height: auto;
        margin: 15px 0;
      }
    }
  }
}


