<div class="inner-container">
  <mat-toolbar class="order-summary-navbar" color="white">
    <mat-toolbar-row>
      <div class="mt-header-logo">
        <a [routerLink]="['']"><img src="{{ config.logo }}" alt="{{ config.name }} Logo" /></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="order-summary" *ngIf="orderSummary">
    <ng-container *ngIf="orderSummary.payment.status === 'unpaid'; else elsePaid">

      <app-order-summary-progress
        *ngIf="!isPaymentManualTransfer"
        [orderSummary]="orderSummary">
      </app-order-summary-progress>

      <app-order-manual-transfer
        *ngIf="isPaymentManualTransfer"
        [orderSummary]="orderSummary">
      </app-order-manual-transfer>

    </ng-container>
    <ng-template #elsePaid>
      <app-order-summary-done [orderSummary]="orderSummary" [config]="config"></app-order-summary-done>
    </ng-template>
  </div>
</div>
