<div class="brands">
  <span class="subtitle">Brands</span>
  <div class="list-brands">
    <div class="brand" *ngFor="let brandData of brands; index as i; first as isFirst">
      <a [routerLink]="['/brand',brandData.href|entityToSlug]" class="brands-link"><img [src]="brandData.iconImage" (error)="getDefaultImage($event)" appImgResize/></a>
    </div>
  </div>
</div>

<div class="brands-mobile">
  <span class="subtitle">Brands</span>
  <div class="list-brands">
    <ngx-slick-carousel class="carousel-highlight-category"
                        [config]="slideConfig"
                        (init)="slickInit($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
      <div ngxSlickItem class="slide" style="width: 90px;" *ngFor="let brandData of brands; index as i; first as isFirst">
        <div class="brand">
          <a [routerLink]="['/brand',brandData.href|entityToSlug]" class="brands-link"><img [src]="brandData.iconImage" (error)="getDefaultImage($event)" appImgResize/></a>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
