<div class="brands">
  <span class="subtitle">Brands</span>
  <div class="list-brands">
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
    <div class="brand">
      <a href="#"><img src="assets/brand-example.png" /></a>
    </div>
  </div>
</div>
