<div class="brands">
  <span class="subtitle">Brands</span>
  <div class="list-brands">
    <div *ngFor="let brandData of brands; index as i; first as isFirst" class="brand">
      <a [routerLink]="['/brand',brandData.href|entityToSlug]" class="brands-link">
        <img
          (error)="getDefaultImage($event)" [src]="brandData.iconImage" [imgResizeType]="'brands-desktop'" appImgResize/>
      </a>
    </div>
  </div>
</div>

<div class="brands-mobile">
  <span class="subtitle">Brands</span>
  <div class="list-brands">
    <ngx-slick-carousel (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)"
                        (init)="slickInit($event)"
                        [config]="slideConfig"
                        class="carousel-highlight-category">
      <div *ngFor="let brandData of brands; index as i; first as isFirst" class="slide" ngxSlickItem
           style="width: 90px;">
        <div class="brand">
          <a [routerLink]="['/brand',brandData.href|entityToSlug]" class="brands-link"><img (error)="getDefaultImage($event)"
                                                                                            [src]="brandData.iconImage"
                                                                                            [imgResizeType]="'brands-mobile'"
                                                                                            appImgResize/></a>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
