/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif&display=swap');
@import "base";

* {
  box-sizing: border-box;
  font-family: $font-primary;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

section {
  width: 1152px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 190px 0 0 0;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 150px 0 0 0;
}

.content {
  width: 1195px;
  margin: 0 auto;
  display: flex;
  padding: 190px 16px 0 16px;
}

.inner-container {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.subtitle {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: $color-primary;
}

.label-form {
  margin: 24px 0 8px 0;

  label {
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color-primary;
  }

  &.has-error {
    label {
      color: red;
    }
  }
}

.input-form {
  background: $white;
  box-sizing: border-box;
  border-radius: $border-radius;
  height: 40px;
  border: none;

  * {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid $color-grey;
    border-radius: $border-radius;
  }

  &.has-error {
    border: 1px solid red;
  }
}

form {
  .form-alert {
    height: 20px;
    color: red;
  }
}

.auth-btn {
  display: flex;
  flex-direction: column;
}

.btn {
  &-primary {
    background: $color-accent;
    border-radius: $border-radius;
    color: $white;
    margin: 0 0 16px 0;
    font-family: $font-primary;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    height: 40px;
    border: none;

    a {
      text-decoration: none;
      color: $white;
      display: block;
    }
  }

  &-outline {
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    color: $color-primary;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 16px 0;
    height: 40px;
    background: $white;

    a {
      text-decoration: none;
      color: $color-primary;
      display: block;
    }
  }

  &-fb {
    background: $color-fb;
    border: none;
    border-radius: $border-radius;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: $white;
    height: 40px;
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      margin: 0 8px 0 0;
    }

  }

  &-google {
    background: $color-google;
    border: 1px solid $color-grey;
    box-sizing: border-box;
    border-radius: $border-radius;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 21px;
    color: $color-primary;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    img {
      margin: 0 8px 0 0;
    }

  }
}

.box-content {
  min-width: 448px;
  border: solid 1px #E5E5E5;
  border-radius: $border-radius;
  padding: 0px 16px 16px 16px;
}
