@import "src/theme/base";

.testimonial {
  max-width: 1152px;
  margin: 0 auto;
  padding: 16px 0 0 0;

  .testi {
    margin: 24px 0 0 0;
    width: 100%;

    &-cell {
      width: 564px;
      height: 212px;
      margin-right: 24px;
      border-radius: $border-radius;
      display: flex;
      background-color: $white;

      .item {
        display: flex;
        align-items: flex-start;
        padding: 8px;
        border-radius: $border-radius;

        .photo {
          width: 196px;
          height: 196px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .desc {
          width: calc(100% - 196px);
          margin: 0 0 0 24px;
          display: flex;
          flex-direction: column;

          .title {
            font-size: 18px;
            line-height: 25px;
            font-weight: bold;
            margin: 0 0 5px 0;
          }

          .comment {
            font-size: 14px;
            line-height: 19px;
            margin: 0 0 5px 0;
            height: 137px;
            text-overflow: ellipsis;
          }

          .name {
            font-size: 14px;
            line-height: 19px;
            color: $color-secondary;
          }
        }
      }
    }
  }

  ::ng-deep button.slick-next.slick-arrow {
    width: 36px;
    height: 36px;
    z-index: 90;
    right: 10px;
    top: 50%;

    span {
      color: $color-primary;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 100%;
      width: 100%;
      height: 100%;
      font-size: 36px;
    }
  }

  ::ng-deep button.slick-prev.slick-arrow {
    width: 36px;
    height: 36px;
    z-index: 90;
    left: 10px;
    top: 50%;

    span {
      color: $color-primary;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 100%;
      width: 100%;
      height: 100%;
      font-size: 36px;
      opacity: 1.0;
    }
  }

  ::ng-deep button.slick-next.slick-arrow::before {
    display: none;
  }

  ::ng-deep button.slick-prev.slick-arrow::before {
    display: none;
  }
}

.testimonial-mobile {
  display: none;
}

@media screen and (max-width: $mobile-break) {
  .testimonial {
    display: none;
  }

  .testimonial-mobile {
    display: block;
    height: 100%;
    padding: 12px 0 0 0;

    .subtitle {
      font-size: 18px;
      line-height: 25px;
      margin: 0 0 0 12px;
    }

    .testi {
      margin: 12px 0 0 0;
      height: 100%;

      &-cell {
        display: flex;
        margin: 0 12px;
        min-height: 185px;
        background-color: $white;

        .item {
          display: flex;
          flex-direction: column;
          border-radius: $border-radius;

          .photo {
            display: none;
          }

          .desc {
            display: flex;
            flex-direction: column;
            padding: 8px;

            .title {
              font-size: 16px;
              line-height: 22px;
              font-weight: bold;
            }

            .comment {
              font-size: 12px;
              line-height: 17px;
              flex-grow: 1;
              height: 100%;
              margin: 4px 0 0 0;
            }
          }

          .name {
            padding: 8px;
            font-size: 11px;
            line-height: 13px;
            margin-top:auto;
            color: $color-secondary;
          }
        }
      }

    }


    ::ng-deep button.slick-next.slick-arrow {
      width: 36px;
      height: 36px;
      z-index: 90;
      right: 10px;

      span {
        color: $color-primary;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        width: 100%;
        height: 100%;
        font-size: 36px;
      }
    }

    ::ng-deep button.slick-prev.slick-arrow {
      width: 36px;
      height: 36px;
      z-index: 90;
      left: 10px;

      span {
        color: $color-primary;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        width: 100%;
        height: 100%;
        font-size: 36px;
      }
    }

    ::ng-deep button.slick-next.slick-arrow::before {
      display: none;
    }

    ::ng-deep button.slick-prev.slick-arrow::before {
      display: none;
    }
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .testimonial {
    width: 1024px;
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .testimonial {
    width: 768px;
    margin: 0 auto;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) { }



// Slick Dots


$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: #F03BB3 !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

::ng-deep .slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active {
      width: 40px;
    }
    &.slick-active button:before {
      width: 40px;
      margin-top: 5px;
      color: $slick-dot-color-active;
      height: 8px;
      border-radius: 4px;
      border-color: $slick-dot-color-active;
      background-color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
      content: '';
    }
  }
}
