<div *ngIf="!!testimonials && testimonials.length>0" class="testimonial">
  <span class="subtitle">Testimoni</span>
  <div class="testi">
    <ngx-slick-carousel (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)"
                        (init)="slickInit($event)"
                        [config]="slideConfigDesktop"
                        class="carousel-highlight-category">
      <div *ngFor="let item of testimonials" class="slide" ngxSlickItem>
        <div class="testi-cell">
          <div class="item">
            <span class="photo">
              <img alt="{{ item.title }}" src="{{ item.photo }}" [imgResizeType]="'testimonial-desktop'" appImgResize/>
            </span>
            <span class="desc">
              <span class="title">
                {{(item.name.length > 30) ? (item.name | slice:0:30) + '...' : (item.name)}}
              </span>
              <span class="comment">
                {{ item.content | stripHtml | slice:0:245 }}
                {{ item.content.length > 245 ? '...' : '' }}
              </span>
              <span class="name">{{ item.reviewerName }} | {{ item.reviewerJobTitle }}</span>
            </span>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>

<div *ngIf="!!testimonials && testimonials.length>0" class="testimonial-mobile">
  <span class="subtitle">Testimoni</span>
  <div class="testi">
    <ngx-slick-carousel (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)"
                        (init)="slickInit($event)"
                        [config]="slideConfig"
                        class="carousel-highlight-category">
      <div *ngFor="let item of testimonials" class="slide" ngxSlickItem style="width: 266px;">
        <div class="testi-cell">
          <div class="item">
            <span class="desc">
              <span class="title">{{(item.name.length > 20) ? (item.name | slice:0:20) + '...' : (item.name)}}</span>
              <span class="comment">
                {{ item.content | stripHtml | slice:0:245 }}
                {{ item.content.length > 245 ? '...' : '' }}
              </span>
            </span>

            <span class="name">
                {{ item.reviewerName }} | {{ item.reviewerJobTitle }}
            </span>
          </div>

        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
