<app-shell></app-shell>
<div class="reset-password-wrapper">
  <div class="columns">
    <div class="column is-4 is-offset-4 is-12-mobile is-offset-0-mobile">
      <h3 class="subtitle">Reset Password</h3>

      <form [formGroup]="form" (submit)="onSubmit()">

        <!--  New Password -->
        <div class="field">
          <label class="label">Password Baru</label>
          <div class="control">
            <input formControlName="newPassword"
                   class="input"
                   [class.is-danger]="form.get('newPassword').invalid && (form.get('newPassword').touched || form.get('newPassword').dirty)"
                   type="password"
                   placeholder="Masukkan Password Baru">
          </div>
          <p *ngIf="form.get('newPassword').invalid && (form.get('newPassword').touched || form.get('newPassword').dirty)"
             class="help is-danger">
            <span *ngIf="form.get('newPassword').errors.minlength">Password Baru minimal 8 karakter</span>
            <span *ngIf="form.get('newPassword').errors.required">Password Baru dibutuhkan</span>
            <span *ngIf="form.get('newPassword').errors.nomatch">
              Password Baru dan Password Konfirmasi tidak sama
            </span>
          </p>
        </div>

        <!-- Confirmation Password -->
        <div class="field">
          <label class="label">Ulangi Password Baru</label>
          <div class="control">
            <input formControlName="confirmationPassword"
                   class="input"
                   [class.is-danger]="form.get('confirmationPassword').invalid && (form.get('confirmationPassword').touched || form.get('confirmationPassword').dirty)"
                   type="password"
                   placeholder="Masukkan Password Baru">
          </div>
          <p *ngIf="form.get('confirmationPassword').invalid && (form.get('confirmationPassword').touched || form.get('confirmationPassword').dirty)"
             class="help is-danger">
            <span *ngIf="form.get('confirmationPassword').errors.minlength">Password Konfirmasi minimal 8 karakter</span>
            <span *ngIf="form.get('confirmationPassword').errors.required">Password Konfirmasi dibutuhkan</span>
          </p>
        </div>

        <div class="field" style="margin-top: 30px;">
          <div class="control">
            <button class="button button--is-primary button--expand-full"
                    [class.button--is-disabled]="form.invalid"
                    type="submit">
              Ubah Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
