@import "src/theme/base";

.container {
  width: 100%;
  max-width: 432px;
  padding: 0 16px 90px 16px;
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-top: 32px;
}

p {
  color: #979797;
}

.field:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 16px;
  position: relative;
  text-align: inherit;
}

.label {
  color: $color-primary;
  display: block;
  font-size: 16px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.input, .textarea, .select select {
  background-color: $white;
  border-radius: 4px;
  color: #979797;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 6px 10px;
  border: 1px solid $color-grey-2;
  height: 2.5em;
  display: inline-block;
  position: relative;
  vertical-align: top;
  justify-content: flex-start;

  &:hover {
    border-color: #b5b5b5;
    -webkit-box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  }

  &:focus {
    border-color: #b5b5b5;
    -webkit-box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  }
}

.select:not(.is-multiple) {
  height: 2.5em;
  width: 100%;
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  content: none;

  &::after {
    right: 15px;
    border: 3px solid #979797;
    border-right: 0;
    border-top: 0;
    content: " ";
    height: 0.625em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 0.625em;
    font-size: 10px;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.file {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;

  &-input {
    display: none;
  }

  &-label {
    width: 100%;
    align-items: stretch;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
  }

  &-cta {
    width: 100%;
    border-radius: 4px;
    white-space: nowrap;
    padding: 6px 10px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #dbdbdb;
    color: #979797;
    font-size: 16px;

    i {
      margin-right: 6px;
    }
  }

  &-name {
    font-size: 12px;
    color: $color-accent;
  }
}

/* Error */

.has-error {
  border: 1px solid red;
}

.error-message {
  margin: 0;
  font-size: 0.75rem;
  color: red;
}

.mt-header-logo {
  a img {
    max-width: 100%;
    max-height: 55px;
    padding: 4px 0;
  }
}

@media screen and (max-width: $mobile-break) {
  .mt-header-logo {
    a img {
      width: 153px;
      height: auto;
      margin: 15px 0;
    }
  }
}
