@import "src/theme/base";

.mt-header-location {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 14px;
  color: $color-secondary;
  display: flex;
  align-items: center;
  margin: 0 0 0 50px;
  cursor: pointer;

  .information {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 8px;
  }

  .store {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color-primary;
  }

  .address {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: $mobile-break) {
  .address {
    display: none;
  }

  .mt-header-location {
    margin: 0;
  }
}

@media screen and (max-width: $tablet-break) {
  .address {
    display: none;
  }

  .mt-header-location {
    margin: 0;
  }
}
