@import "src/theme/base";

.video-dialog {
  padding: 24px;

  .top-dialog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    &-title {
      margin: 0;
    }

    &-close {
      cursor: pointer;
    }
  }
}

mat-dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $mobile-break) {
}
