<div class="mt-change-password">
  <span class="subtitle">Ganti Password</span>
  <div class="box-content">
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
      <div class="label-form">
        <label>Password Lama</label>
      </div>
      <div class="input-form">
        <input type="password" formControlName="oldPassword" required>
      </div>
      <div class="label-form">
        <label>Password Baru</label>
      </div>
      <div class="input-form">
        <input type="password" formControlName="newPassword" required>
      </div>
      <div class="label-form">
        <label>Ulangi Password Baru</label>
      </div>
      <div class="input-form">
        <input type="password" formControlName="repeatNewPassword" required>
      </div>
      <div class="change-btn">
        <button class="btn-primary btn-login" type="submit">Simpan</button>
        <button class="btn-outline" type="submit">Batal</button>
      </div>
    </form>
  </div>
</div>
