<div class="change-password-wrapper">
  <div class="change-password-header">
    <h1 class="title">Ganti Password</h1>
  </div>

  <div class="change-password-content">
    <div class="box">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Old Password -->
        <div class="field">
          <label class="label">Password Lama</label>
          <div class="control">
            <input
              class="input"
              type="password"
              autocomplete="off"
              [formControl]="oldPassword"
              [class.is-danger]="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || submitted)"
              placeholder="Masukan Password Lama"
            />
          </div>
          <p
            *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || submitted)"
            class="help is-danger"
          >
            <span *ngIf="oldPassword.hasError('required')"> Password Lama harus diisi </span>
            <span *ngIf="oldPassword.hasError('fromServer')">
              {{ oldPassword.errors["fromServer"] }}
            </span>
          </p>
        </div>

        <!-- New Password -->
        <div class="field">
          <label class="label">Password Baru</label>
          <div class="control">
            <input
              class="input"
              type="password"
              [formControl]="password"
              [class.is-danger]="password.invalid && (password.dirty || password.touched || submitted)"
              placeholder="Masukan Password Baru"
            />
          </div>

          <p *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="help is-danger">
            <span *ngIf="password.hasError('required')"> Password Baru harus diisi </span>
            <span *ngIf="password.hasError('fromServer')">
              {{ password.errors["fromServer"] }}
            </span>
          </p>
        </div>

        <!-- Confirm Password -->
        <div class="field">
          <label class="label">Ulangi Password Baru</label>
          <div class="control">
            <input
              class="input"
              type="password"
              [formControl]="passwordConfirm"
              [class.is-danger]="
                passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched || submitted)
              "
              placeholder="Masukan Password Baru"
            />
          </div>

          <p
            *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched || submitted)"
            class="help is-danger"
          >
            <span *ngIf="passwordConfirm.hasError('required')"> Password Konfirmasi harus diisi </span>
            <span *ngIf="passwordConfirm.hasError('doesntMatch')"> Password yang Anda masukkan tidak cocok </span>
          </p>
        </div>

        <!-- Button Group (Save, Cancel) -->
        <div style="margin-top: 30px">
          <div class="field">
            <div class="control">
              <button class="button button--expand-full button--is-primary" type="submit">Simpan</button>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button button--expand-full" (click)="goBack()" type="submit">Batal</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
