@import "src/theme/base";

form {
  .forgot-password {
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    justify-content: flex-end;
    margin: 8px 0 36px 0;

    a {
      text-decoration: none;
      color: $color-primary;
    }

  }

  .already-register {
    margin: 24px 0 0 0;

    a {
      color: $color-accent;
    }
  }

  .terms-and-condition {
    margin: 36px 0 0 0;
    max-width: 400px;

    .tnc-text {
      color: $color-primary;
    }

    .mat-checkbox {
      max-width: 100%;

      ::ng-deep &-inner-container {
        margin: 0 16px 0 0;
      }

      ::ng-deep &-layout {
        max-width: 100%;
        align-items: center;
      }

      ::ng-deep &-label {
        width: 100%;
        overflow-wrap: break-word;
        white-space: normal;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }


  .auth-btn {
    .btn-outline {
      margin: 0 0 31px 0;
    }

    .btn-register {
      margin: 36px 0 48px 0;
      cursor: pointer;

      &[disabled] {
        background: $color-grey;
      }
    }
  }

}

.error-message-form {
  font-size: 14px;
  background-color: $color-google;
  padding: 8px;
}




