<div class="error-message-form" *ngIf="errorMessage.length > 0">{{errorMessage}}</div>
<form [formGroup]="mtForm" (ngSubmit)="onSubmit()">
  <!--  Email Input-->
  <div class="label-form" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched)}">
    <label>
      {{ label }}
    </label>
  </div>
  <div class="input-form" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched)}">
    <input [(ngModel)]="user.email" type="email" formControlName="email" required>
  </div>
  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-alert">
    <p>Mohon masukkan email Anda dengan benar</p>
  </div>
  <!--  Password Input-->
  <div class="label-form" [ngClass]="{'has-error': password.invalid && (password.dirty || password.touched)}">
    <label>
      Password
    </label>
  </div>
  <div class="input-form" [ngClass]="{'has-error': password.invalid && (password.dirty || password.touched)}">
    <input [(ngModel)]="user.password" type="password" formControlName="password" required>
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-alert">
    <p>Mohon masukkan password Anda</p>
  </div>
  <!--  Lupa Password-->
  <div *ngIf="!isRegisterPage" class="forgot-password">
    <a [routerLink]="['/forgot-password']">Lupa Password</a>
  </div>
  <!--  Terms and Condition-->
  <div *ngIf="isRegisterPage" class="terms-and-condition">
    <mat-checkbox formControlName="tnc" required>Dengan pembuatan akun, Anda menyetujui <a [routerLink]="['/register']"
                                                                                           class="tnc-text">Syarat &
      Ketentuan</a> serta <a [routerLink]="['/register']" class="tnc-text">Kebijakan Privasi</a> Martha Tilaar
    </mat-checkbox>
  </div>
  <!--  Button-->
  <div class="auth-btn">
    <button *ngIf="!isRegisterPage" class="btn-primary btn-login" type="submit" [disabled]="isButtonDisabled">Login</button>
    <button *ngIf="!isRegisterPage" class="btn-outline"><a [routerLink]="['/register']">Daftar</a></button>
    <button *ngIf="isRegisterPage" class="btn-primary btn-register" type="submit" [disabled]="isButtonDisabled">Daftar
    </button>
  </div>
  <div class="auth-btn">
    <app-social-button [currentMode]="currentMode"></app-social-button>
  </div>
  <div *ngIf="isRegisterPage" class="already-register">Sudah mendaftar? <a [routerLink]="['/login']">Masuk</a></div>
</form>
