@import "src/theme/base";

:host {
  width: 1152px;
  margin-top: 48px;
  height: 356px;
  position: relative;

  .highlight-title {
    width: 191px;
    height: 37px;

    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;

    font-feature-settings: 'kern' off;

    color: $color-primary;

    margin-bottom: 24px;
  }

  // slick design
  ::ng-deep button.slick-next.slick-arrow {
    width: 36px;
    height: 36px;
    z-index: 1;

    span {
      color: $color-primary;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 100%;
      width: 100%;
      height: 100%;
      font-size: 36px;
    }
  }

  ::ng-deep button.slick-prev.slick-arrow {
    width: 36px;
    height: 36px;
    z-index: 1;

    span {
      color: $color-primary;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(50px);
      border-radius: 100%;
      width: 100%;
      height: 100%;
      font-size: 36px;
    }
  }

  ::ng-deep button.slick-next.slick-arrow::before {
    display: none;
  }

  ::ng-deep button.slick-prev.slick-arrow::before {
    display: none;
  }

  .slick-slide {
    padding-right: 16px;
    outline: none;
  }

  .product-line-container {
    top: 32px;
    left: 33px;
    right: 32px;
    height: 324px;
    display: flex;
    overflow: hidden;

    .product-line-item {
      background: transparent;
      width: 100%;

      .carousel-cell {
        width: 234px;
        height: 324px;
        //margin-right: 10px;
        background: $white;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 4px;
        counter-increment: carousel-cell;

        .icon {
          //position: absolute;
          right: 0;
          top: 0;
          padding-top: 5px;
          padding-right: 5px;
          cursor: pointer;
          float: right;
        }

        .product-image {
          margin: 8px 34px 0;
          object-fit: cover;
        }

        .product-title {
          height: 44px;
          color: $color-primary;
          cursor: pointer;
          text-decoration: none;
          font-family: $font-primary;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          margin: 24px 16px 0 16px;
          outline: none;
        }

        .product-vendor {
          cursor: pointer;
          text-decoration: none;
          font-family: $font-primary;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: $color-secondary;
          margin-left: 16px;
          outline: none;
        }

        .product-price-discounted {
          font-family: $font-primary;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          margin: 12px 16px 0 16px;
          //margin-top: 12px;
          //margin-bottom: 0;
          //margin-left: 16px;

          text-decoration-line: line-through;
        }

        .product-price {
          color: $color-accent;
          margin: 0 16px 0 16px;
          font-family: $font-primary;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }

        .product-tag {
          //text
          font-family: $font-primary;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          font-feature-settings: 'liga' off;
          color: $white;

          position: absolute;
          top: 156px;
          background-color: #53A0D7;
          padding: 5px 14px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

      }

      ::ng-deep .flickity-viewport {
        position: relative;
        cursor: grab;

        &:focus {
          outline-color: $white;
        }

        ::ng-deep .flickity-slider {
          position: absolute;
          width: 100%;
          height: 100%;

          img {
            &:focus {
              outline-color: $white;
            }
          }

          &:focus {
            outline-color: $white;
          }

        }
      }
    }
  }
}

// mobile
@media screen and (max-width: $mobile-break) {
  .product-line {
    width: 100%;
    margin-top: 24px;
    height: auto;

    .highlight-title {
      font-size: 18px;
      line-height: 25px;
      margin: 0;
    }

    .product-line-container {
      height: 278px;
      top: 12px;
      left: 12px;
      right: 12px;

      .product-line-item {
        .carousel-cell {
          width: 140px;
          height: 278px;
          padding: 0 12px;
          position: relative;
          display: flex;
          flex-direction: column;

          app-wishlist {
            position: absolute;
          }

          .product-title {
            font-size: 14px;
            line-height: 19px;
            margin: 16px 0 0 0;
          }

          .product-image {
            width: 120px;
            height: 120px;
            margin: 0;
          }

          .product-vendor {
            font-size: 12px;
            line-height: 17px;
            margin: 0;
          }

          .product-price-discounted {
            font-size: 10px;
            line-height: 14px;
            margin: 12px 0 0 0;
          }

          .product-price {
            font-size: 14px;
            line-height: 18px;
            margin: 0;
          }
        }

        .carousel-cell:before {
          line-height: 130px;
        }
      }
    }

    ::ng-deep button.slick-next.slick-arrow {
      width: 36px;
      height: 36px;
      z-index: 1;
      top: 95px;
      right: 0;

      span {
        color: $color-primary;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 100%;
        width: 100%;
        height: 100%;
        font-size: 36px;
      }
    }

    ::ng-deep button.slick-prev.slick-arrow {
      width: 36px;
      height: 36px;
      z-index: 1;
      left: 0;
      top: 95px;

      span {
        color: $color-primary;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(50px);
        border-radius: 100%;
        width: 100%;
        height: 100%;
        font-size: 36px;
      }
    }

    ::ng-deep button.slick-next.slick-arrow::before {
      display: none;
    }

    ::ng-deep button.slick-prev.slick-arrow::before {
      display: none;
    }
  }

}
