@import "src/theme/base";

.mt-forgot-password-container {
  margin: 120px 0 0 0;
  max-width: 400px;
}

@media screen and (max-width: $mobile-break) {
  .mt-forgot-password-container {
    padding: 0 12px;
  }
}

