<div class="menu-brand">
  <span>
    <a href="http://gramedia.com">Brands</a>
  </span>
  <div class="brand-content">
    <div class="list-brands">
      <div class="brand">
        <a href="http://gramedia.com"><img src="assets/brand-example.png"/></a>
      </div>
      <div class="brand">
        <a href="http://gramedia.com"><img src="assets/brand-example.png"/></a>
      </div>
      <div class="brand">
        <a href="http://gramedia.com"><img src="assets/brand-example.png"/></a>
      </div>
      <div class="brand">
        <a href="http://gramedia.com"><img src="assets/brand-example.png"/></a>
      </div>
      <div class="brand">
        <a href="http://gramedia.com"><img src="assets/brand-example.png"/></a>
      </div>
    </div>
  </div>
</div>

