@import "src/theme/base";

a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  color: $color-primary;
  margin: 0 0 16px 0;
  padding: 12px;
  border: solid 1px $white;
  width: 100%;

  &.last-child.link {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    margin: 0 0 0 16px;
  }

  &:hover {
    border: solid 1px $color-primary;
    border-radius: $border-radius;
  }
}
