@import "src/theme/base";

.order-cancel-dialog {
  padding: 12px 12px 0 8px;
  position: relative;
}

.header-cancel-dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E7E7E7;
  padding-right: 12px;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;

  span {
    cursor: pointer;
    font-weight: bold;
    color: #5A5A5A;
  }
}

.text-title-1 {
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .btn {
    padding: 5px 20px;
  }
}

.btn-primary {
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  .order-cancel-dialog {
    padding: 4px 4px 0 0;
  }
}
