<div class="inner-container">
  <mat-toolbar class="navbar-desktop" color="white">
    <mat-toolbar-row class="first-row">
      <div class="mt-header-logo">
        <a [routerLink]="['/home']"><img src="assets/header/logo-mt.svg" alt="Martha Tilaar Logo"></a>
      </div>
      <app-store-location></app-store-location>
      <app-search-bar></app-search-bar>
      <div class="mt-header-account">
        <a [routerLink]="['/profile']"><img src="assets/header/logo-account.svg" alt="Account Logo"></a>
        <button class="auth-btn"><a [routerLink]="['/login']">Masuk / Daftar</a>
        </button>
      </div>
      <div class="mt-header-notification">
        <mat-icon matBadge="3" matBadgeColor="accent">notifications_none</mat-icon>
      </div>
      <div class="mt-header-cart">
        <mat-icon matBadge="2" matBadgeColor="accent">shopping_cart</mat-icon>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="second-row">
      <span class="brands">Brands</span>
      <span class="kategori">Kategori</span>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-toolbar class="navbar-mobile" color="white">
    <div class="mobile-container">
      <div class="mobile-left">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="mobile-middle">
        <div class="mt-header-logo">
          <a [routerLink]="['/home']"><img src="assets/header/logo-mt.svg" alt="Martha Tilaar Logo"></a>
        </div>
      </div>
      <div class="mobile-right">
        <div class="mt-header-notification">
          <mat-icon matBadge="3" matBadgeColor="accent" matBadgeSize="small">notifications_none</mat-icon>
        </div>
        <div class="mt-header-cart">
          <mat-icon matBadge="2" matBadgeColor="accent" matBadgeSize="small">shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="mobile-container-second">
      <div class="bottom-row">
        <app-store-location></app-store-location>
        <app-search-bar></app-search-bar>
      </div>
    </div>
  </mat-toolbar>

</div>

