@import "src/theme/theme-variables";
@import "src/theme/base";

.navbar {
  &-desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $white;
    max-height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;

    .first-row {
      justify-content: center;
      height: 80px;
    }

    .second-row {
      width: 1195px;
      align-self: center;
      align-items: center;

      .brands {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        padding: 10px 30px 8px 31px;
      }

      .kategori {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        padding: 10px 24px 8px 25px;
        margin: 0 0 0 16px;
      }
    }
  }

  &-mobile {
    display: none;
  }
}

.mt-header {
  &-account {
    margin: 0 0 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-btn {
      margin: 0 0 0 8px;
      border: none;
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      background: 0 0;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $color-primary;
      }
    }
  }

  &-notification {
    margin: 0 0 0 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-cart {
    margin: 0 0 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




@media screen and (max-width: $mobile-break) {
  .navbar {
    &-desktop {
      display: none;
    }

    &-mobile {
      display: flex;
      background: $white;
      padding: 0;
      flex-direction: column;
      position: fixed;
      height: auto;

      .mobile-container {
        width: 100%;
        height: 100%;

        &-second {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px 12px 12px 12px;

          .bottom-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
          }
        }

        .mobile-right {
          display: flex;
          position: relative;
          right: 20px;
          top: 2px;
        }

        .mobile-middle {
          position: relative;
          left: 15px;
        }
      }
    }
  }

  .mt-header {
    &-logo {
      width: 160px;
      position: relative;

      a {
        width: 100%;

        img {
          display: flex;
          width: 100%;
        }
      }
    }

    &-notification {
      margin: 0 0 0 8px;
      width: 16px;
      height: 16px;

      .mat-icon {
        font-size: 20px;
      }
    }

    &-cart {
      margin: 0 0 0 24px;
      width: 16px;
      height: 16px;

      .mat-icon {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: $tablet-break) {
  .navbar {
    &-desktop {
      display: none;
    }

    &-mobile {
      display: flex;
      background: $white;
      padding: 0;
      flex-direction: column;
      position: fixed;
      height: auto;

      .mobile-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-second {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 16px 12px 12px 12px;

          .bottom-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }
        }

        .mobile-right {
          display: flex;
          position: relative;
          right: 20px;
        }

        .mobile-middle {
          position: relative;
          left: 15px;
        }
      }
    }
  }

  .mt-header {
    &-logo {
      width: 160px;
      position: relative;

      a {
        width: 100%;

        img {
          display: flex;
          width: 100%;
        }
      }
    }

    &-notification {
      margin: 0 0 0 8px;
      width: 16px;
      height: 16px;

      .mat-icon {
        font-size: 20px;
      }
    }

    &-cart {
      margin: 0 0 0 24px;
      width: 16px;
      height: 16px;

      .mat-icon {
        font-size: 20px;
      }
    }
  }
}
