@import "src/theme/base";

.highlight-category {
  width: 1152px;
  margin: 0 0 36px 0;

  .list-highlight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .highlight {
      width: 211px;
      height: 160px;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $color-primary;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;

        img {
          width: 100px;
          height: 100px;
        }

        span {
          margin: 18px 0 0 0;
        }
      }
    }
  }
}
