<div class="highlight-category">
  <div class="list-highlight">
    <div class="highlight">
      <a href="https://gramedia.com">
        <img src="assets/body-care-example.png">
        <span>Skin Care</span>
      </a>
    </div>
    <div class="highlight">
      <a href="https://gramedia.com">
        <img src="assets/body-care-example.png">
        <span>Skin Care</span>
      </a>
    </div>
    <div class="highlight">
      <a href="https://gramedia.com">
        <img src="assets/body-care-example.png">
        <span>Skin Care</span>
      </a>
    </div>
    <div class="highlight">
      <a href="https://gramedia.com">
        <img src="assets/body-care-example.png">
        <span>Skin Care</span>
      </a>
    </div>
    <div class="highlight">
      <a href="https://gramedia.com">
        <img src="assets/body-care-example.png">
        <span>Skin Care</span>
      </a>
    </div>
  </div>
</div>
