@import "src/theme/base";

.footer {
  margin: 24px 0 0 0;
  width: 100%;

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .newsletter {
      display: flex;
      flex-direction: column;
      width: 270px;
      margin: 0 54px 0 0;

      .desc {
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
      }

      .email {
        margin: 12px 0 0 0;

        .input {
          width: 100%;
          height: 40px;
          border: 1px solid #979797;
          border-radius: $border-radius;
          padding: 10px;
        }

        .is-danger {
          border: 1px solid red !important;
        }
      }

      .email-error {
        margin: 0.3rem 0;
        font-size: 0.75rem;
        color: red;
      }

      .btn-subscribe {
        margin: 16px 0 0 0;

        button {
          width: 100%;
        }
      }

      .subscribe-mobile {
        display: none;
      }
    }

    .static-page {
      display: flex;
      flex-direction: row;
      margin: 0 42px 0 0;

      .list {
        display: flex;
        flex-direction: column;
        margin: 0 24px 0 0;

        .title {
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
        }

        .item {
          font-size: 16px;
          line-height: 22px;
          color: $color-secondary;
          margin: 8px 0;
        }
      }
    }

    .payment-shipping {
      display: flex;
      flex-direction: column;
      width: 260px;

      .item {
        .list {
          display: flex;
          flex-direction: column;
          margin: 0 24px 0 0;

          .title {
            font-size: 16px;
          }

        }
      }
    }
  }
}

@media screen and (max-width: $mobile-break) {
  .footer {
    padding: 12px;
    flex-direction: column;
    display: flex;
    margin: 0;

    .inner-container {
      width: 100%;
      flex-direction: column;

      .newsletter {
        width: 100%;

        .desc {
          font-size: 14px;
          line-height: 19px;
        }

        .email {
          display: none;
        }

        .btn-subscribe {
          display: none;
        }

        .subscribe-mobile {
          display: flex;
          align-items: center;
          margin: 10px 0 0 0;

          .email-mobile {
            margin: 0 12px 0 0;
            flex: 70%;

            .input {
              width: 100%;
              height: 40px;
              border: 1px solid #979797;
              border-radius: $border-radius;
              padding: 10px;

              .is-danger {
                border: 1px solid red !important;
              }
            }

            .email-error {
              margin: 0.3rem 0;
              font-size: 0.75rem;
              color: red;
            }
          }

          .btn-subscribe-mobile {
            margin: 16px 0 0 0;
            flex: 30%;

            button {
              width: 100%;
              font-size: 14px;
              line-height: 19px;
            }
          }
        }

      }

      .static-page {
        flex-direction: column;

        .list {
          margin: 12px 0 0 0;

          .title {
            font-size: 14px;
            line-height: 19px;
          }

          .item {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }

      .payment-shipping {
        width: 100%;
        margin: 12px 0 0 0;

        .item {
          margin: 12px 0 0 0;
          .list {
            .title {
              font-size: 14px;
              line-height: 19px;
            }

            .payment-logo {
              margin: 0;
            }
          }

        }
      }
    }
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .footer {
    .inner-container {
      width: 1024px;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    .inner-container {
      width: 768px;
    }
  }
}
