<div class="footer">
  <div class="inner-container">
    <div class="newsletter">
      <form [formGroup]="form" (submit)="subscribe()">
        <div class="desc">
          <span>Jadilah yang pertama tahu berita terbaru, event dan penawaran spesial kami</span>
        </div>
        <div class="email">
          <input type="text"
                 placeholder="Masukkan alamat email Anda"
                 [formControl]="email"
                 class="input"
                 [class.is-danger]="isValidFormControl(email)"/>
          <p *ngIf="isValidFormControl(email)" class="email-error">
            <span *ngIf="email.hasError('email')">
              Email is invalid
            </span>
            <span *ngIf="email.hasError('server')">
              {{ email.errors.server[0] }}
            </span>
          </p>
        </div>
        <div class="btn-subscribe">
          <button type="submit" class="btn-primary">Daftar</button>
        </div>
        <div class="subscribe-mobile">
          <div class="email-mobile">
            <input type="text"
                   placeholder="Masukkan alamat email Anda"
                   [formControl]="email"
                   class="input"
                   [class.is-danger]="isValidFormControl(email)"/>
            <p *ngIf="isValidFormControl(email)" class="email-error">
              Email is invalid
            </p>
          </div>
          <div class="btn-subscribe-mobile">
            <button type="submit" class="btn-primary">Daftar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="static-page">
      <div *ngFor="let navigation of navigations" class="list">
        <span class="title">{{ navigation.title }}</span>
        <app-nus-link class="item-static-page" *ngFor="let navigationChild of navigation.children"  [href]="navigationChild.url"  [title]="navigationChild.title"></app-nus-link>
      </div>
    </div>
    <div class="payment-shipping">
      <app-footer-payment></app-footer-payment>
      <div class="list">
        <div class="title">
          <span>Pengiriman</span>
        </div>
        <div class="shipping-wrapper">
          <app-footer-shipping [shippings]="shippings$ | async">
          </app-footer-shipping>
        </div>
      </div>
    </div>
  </div>
</div>
