<div class="voucher">
  <div class="voucher-top">
    <div class="voucher-top-title">
      <span>Kode Promo</span>
    </div>
    <div class="voucher-top-link">
<!--      <a href="#">Lihat Promo</a>-->
    </div>
  </div>
  <div class="voucher-bottom">
    <form [formGroup]="voucherForm" (submit)="submitVoucher()"  *ngIf="!currentVoucher || currentVoucher.length<1 ; else showVoucher">
      <div class="voucher-bottom-input">
        <input type="text" formControlName="voucher" placeholder="Masukkan kode promo"/>
        <span>{{voucherError}}</span>
      </div>
      <div class="voucher-bottom-button">
        <button type="submit" class="btn-voucher">Gunakan</button>
      </div>
    </form>
    <ng-template #showVoucher>
      Vouchers :
      <div *ngFor="let voucher of currentVoucher">
        <span>{{voucher.code}} <button (click)="clearVoucher()">Remove</button></span>
      </div>
    </ng-template>
  </div>
</div>
