@import "src/theme/base";

.voucher {
  display: flex;
  flex-direction: column;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      span {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &-link {
      a {
        font-size: 16px;
        line-height: 21px;
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-input {
      input {
        height: 40px;
        border: solid 1px #E5E5E5;
        border-radius: $border-radius;
        padding: 9px 12px;
      }
    }

    &-button {
      button {
        background-color: $color-primary;
        color: $white;
        padding: 9px 14px;
        border: none;
        border-radius: $border-radius;

        &[disabled] {
          background-color: $color-grey;
        }
      }
    }
  }
}
