@import "src/theme/base";

.inner-container {
  .checkout-navbar {
    background-color: $white;

    .mat-toolbar-row {
      display: flex;
      align-items: center;
      justify-content: center;

      .mt-header-logo {
        width: 250px;
        height: 40px;

        a {
          display: block;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .title {
    margin: 32px 0 0 0;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.02em;
    font-family: $font-secondary;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-checkout {
      width: calc(100% - 40%);
      margin: 16px 0 0 0;

    }

    .side-cart {
      width: calc(100% - 70%);
      display: flex;
      flex-direction: column;

      &-totals {
        border: solid 1px $color-google;
        border-radius: $border-radius-double;
        padding: 16px;

        .continue-payment {
          .btn-continue {
            background-color: $color-accent;
            border: solid 1px $white;
            color: $white;
            font-size: 16px;
            line-height: 22px;
            font-style: normal;
            cursor: pointer;
            width: 100%;
            border-radius: $border-radius;
            padding: 8px;

            &[disabled] {
              background-color: $color-grey;
            }
          }

          .has-error {
            color: $color-error;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }

      &-voucher {
        border: solid 1px $color-google;
        border-radius: $border-radius-double;
        padding: 16px;
        margin: 16px 0;
        background-color: $color-background-alt;
      }

      &-summary {
        border: solid 1px $color-google;
        border-radius: $border-radius-double;
        padding: 16px;
        margin: 16px 0;
      }
    }
  }
}

.social-media {
  width: 100%;
  background-color: #F5F5F5;
}

.copyright {
  width: 100%;
}

.main-footer {
  width: 100%;

  .footer {
    width: 100%;
  }
}

@media screen and (max-width: $mobile-break) {
  .inner-container {
    margin: 0 12px;

    .checkout-navbar {
      .mat-toolbar-row {
        .mt-header-logo {
          a {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 177px;
              height: 20px;
              margin: 0;
            }
          }
        }
      }
    }

    .main {
      flex-direction: column;

      .main-checkout {
        width: 100%;
      }

      .side-cart {
        width: 100%;
      }
    }
  }
}
